ul {
    list-style-type: none;
    text-align: center;
    margin: 500;
    padding: 500;
    overflow:hidden;
    background-color: hsl(186, 58%, 54%);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(20, 18, 18);
    text-align: center;
    padding: 14px 100px;
    text-decoration:wavy;
}

li a:hover {
    background-color: hsl(288, 60%, 58%);
}
