* {
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: 'Calibri',fantasy;
    font-size: 20px;
}

header {
    z-index: 999;
    position: absolute;
    top:0 ;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    transition: 0.5s ease;
}

header .brand {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

body {
    background-image: url(images/02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(102, 57, 11);;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #48c8ef;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}



@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

footer {
    z-index: 999;
    position: relative;
    bottom:0 ;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5s ease;
}

footer .brand {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
}

footer .navigation {
    position: relative;
}

footer .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

footer .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

footer .navigation .navigation-items a:hover:before{
    width: 100%;
}
